/*
Theme Name: Radius
Theme URI: http://webdesignerdrops.com/radius/
Author: WebDesignerDrops.com
Author URI: http://webdesignerdrops.com/
Description: Radius is a free WordPress theme allowing you to create any type of website you want. Radius features: custom background, drop-down menu, header logo, highly customizable and adaptable, theme options, post excerpts with thumbnails, SEO friendly, translation ready, W3C valid, widget-ready, threaded comments & more. It is tested major browsers – Mozilla Firefox, Internet Explorer, Opera, Safari and Chrome. Radius is suitable for any business or personal website.
Version: 1.1
Tags: light, white, two-columns, right-sidebar, fixed-width, custom-background, custom-header, custom-menu, featured-images, sticky-post, theme-options, translation-ready, threaded-comments
License: GNU General Public License, version 3 (GPLv3)
License URI: license.txt
*/

/*  Radius Table of Contents
 *
 * =Reset, =Body, =960 Grid Modified, =Skeleton, =Header
 * =Paragraph, =Headings, =Text Elements, =Blockquote, =Links
 * =List, =Table, =Form, =Search Form Widget, =Images, =General Classes, =Sidebar
 * =Type Post, =Entry Meta, =Loop Meta, =Author, =Paging
 * =Menu Primary
 *
------------------------ */

/**
|------------------------
| =Reset default browser CSS. http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126 License: none (public domain)
|------------------------
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/**
|------------------------
| =Body
|------------------------
*/

body { 
	font-family: 'Droid Sans', sans-serif;
	font-size: 13px;
	line-height: 22px;
	color: #444;
	background: #fafafa;
}

/**
|------------------------
| =960 Grid Modified
|------------------------
*/

.container_main {
	width: 100%;
	padding: 0;
}

.container_12_head,
.container_12_wrap,
.container_12_footer {
  margin-left: auto;
  margin-right: auto;
  width: 980px;
}

.container_12_head .grid_4 {
  width: 300px;
  margin-right: 30px;
}

.container_12_head .grid_8 {
  width: 620px;
  margin-left: 30px;
}

.container_12_footer .grid_4 {
  width: 300px;
  margin-left: 30px;
}

.container_12_footer .grid_8 {
  width: 620px;
  margin-right: 30px;
}

.container_12_wrap_inside {
	width: 960px;
	padding: 0 10px;
	margin: 0 auto 20px auto;
	background-color: #FFF;
	border: solid 1px #eee;
}

.grid_inside {
	padding-right: 20px;
}

/**
|------------------------
| =Skeleton
|------------------------
*/

#header {
	width: 100%;
	padding: 15px 0;
	border-top: solid 5px #900;
}

#content,
#sidebar {
	padding-top: 20px;
}

#content {
	background: url(images/conent-sep.png) repeat-y top right;
}

#footer {
	width: 100%;
	padding: 20px 0;
	background: #fff;	
	border-top: solid 5px #900;
	font-size: 11px;
}

/**
|------------------------
| =Header
|------------------------
*/

#headimg #logo-image {
	width: 300px;
	overflow: hidden;
}

#headimg #logo-image img {
	max-width: 300px;
	height: auto;
	width: 100%;
	border: none;
}

#headimg #logo-text {
	margin: 18px 0;
}

#headimg #logo-text .site-name  {
	display: block;
	font-family: 'Ubuntu Condensed', sans-serif;
	font-size: 28px; 
	line-height: 34px; 
}

#headimg #logo-text .site-description {
	display: block;
}

/**
|------------------------
| =Paragraph
|------------------------
*/

p { 
	line-height: 22px;
	margin: 0 0 22px 0;
}

p:last-child {
	margin-bottom: 0;
}

p img { 
	margin: 0;
}

/**
|------------------------
| =Headings
|------------------------
*/

h1, h2, h3, h4, h5, h6 {
	font-family: 'Ubuntu Condensed', sans-serif;
	color: #333;
	clear: both;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { font-weight: inherit; }

h1 { 
	font-size: 30px; 
	line-height: 36px; 
	margin-bottom: 8px;
}

h2 { 
	font-size: 28px;
	line-height: 34px;
	margin-bottom: 10px;
}

h3 { 
	font-size: 18px;
	line-height: 24px;
	margin-bottom: 20px;	
}

h4 { 
	font-size: 16px;
	line-height: 22px;
	margin-bottom: 22px;	
}

h5 { 
	font-size: 14px;
	line-height: 20px;
	margin-bottom: 24px;	
}

h6 { 
	font-size: 13px;
	line-height: 19px;
	margin-bottom: 25px;	
}

/**
|------------------------
| =Text Elements
|------------------------
*/

strong {
	font-weight: bold;
}

cite, em, i {
	font-style: italic;
}

small { 
	font-size: 80%;
}

pre {
	background: #f8f8f8;
	color: #808080;
	padding: 15px 30px;
	overflow: auto;	
	border: 1px solid #eee;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	margin-bottom: 20px;
}

code, kbd {
	color: #000;
}

abbr, acronym, dfn {
	border-bottom: 1px dotted #666;
	cursor: help;
}

address {
	display: block;
	margin: 0 0 20px 0;
}

ins {
	background: #f0f0f0;
	text-decoration: none;
}

sup, sub {
	font-size: 10px;
	height: 0;
	line-height: 1;
	position: relative;
	vertical-align: baseline;
}

sup {
	bottom: 1ex;
}

sub {
	top: .5ex;
}

/**
|------------------------
| =Blockquote
|------------------------
*/

blockquote {
	font-size: 14px;
	line-height: 22px;
	padding-left: 30px;
	margin-bottom: 20px;
	margin-top: 20px;
	background: transparent url(images/quote.png) no-repeat top left;
	
}

blockquote em,
blockquote i,
blockquote cite {
	font-style: normal;
}

blockquote cite {
	color: #555;
	font-size: 10px;
	font-weight: bold;
	letter-spacing: 1px;
	text-transform: uppercase;
	display: block;
	text-align: right;
}

blockquote cite a {
	display: block;
	margin: 10px 0 0 0;
}

/**
|------------------------
| =Links
|------------------------
*/

a,
a:visited {
	color: #444;
	text-decoration: none;
}

a:hover,
a:focus {
	color: #900;
}

a img {
	border: none;
}

a:focus, a:hover, a:active {
	outline: none;
}

p a, 
p a:visited { 
	line-height: inherit;
}

#footer a,
#footer a:visited {
	color: #900;
	text-decoration: none;
}

#footer a:hover {
	color: #B00;
	text-decoration: underline;
}

/**
|------------------------
| =List
|------------------------
*/

ul, ol {
	margin: 0 0 18px 30px;
}

ul {
	list-style: square;
}

ul ul {
	list-style: circle;
}

ul ul ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

ol ol {
	list-style: upper-alpha;
}

ol ol ol {
	list-style: lower-roman;
}

ol ol ol ol {
	list-style: lower-alpha;
}

ul ul, ul ol,
ol ol, ol ul { 
	margin: 4px 0 5px 30px;
}

ul ul li, ul ol li,
ol ol li, ol ul li { 
	margin-bottom: 6px;
	font-size: 98%; 
}

li { 
	/*line-height: 18px; 
	margin-bottom: 12px;*/
}

li p { 
	/*line-height: 18px;*/
}

dl {
	margin-bottom: 18px;
}

dt {
	font-weight: bold;
}

dd {
	margin-bottom: 18px;
}

/**
|------------------------
| =Table
|------------------------
*/

table { 
	width: 95%;
	margin: 0 auto 20px auto;
	border-collapse: collapse;
}

caption {
	font-weight: bold;
	margin: 0 0 5px 0;
}

thead, th {
	color: #FFF;
	background-color: #900;
	text-align: left;
	text-shadow: 0 1px 0 #1b1b1b;
}

tbody, td {
	background-color: #f8f8f8;
}

td, th { 
	padding: 5px;
	border: 1px #eee solid;
}

/**
|------------------------
| =Form
|------------------------
*/

input[type=text],
input[type=submit],
textarea {
	font-size: 13px;
	font-family: 'Droid Sans', sans-serif;
}

/**
|------------------------
| =Search Form Widget
|------------------------
*/

.searchform {
	width: 298px;
	background: #f8f8f8;
	padding: 1px 0;
	margin: 0;	
	overflow: auto;	
	border: solid 1px #eee;	
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;	
}

.searchform .assistive-text {
	display: none;
}

.searchform input#s {
	width: 250px;
	border: 0;
	padding: 6px 0 6px 11px;
	background: #f8f8f8;
	color: #666;
	text-shadow: 0 1px 0 #fff;
	margin: 0;
	vertical-align: middle;
}

.searchform input#searchsubmit {
	width: 33px;
	height: 33px;
	background: url(images/zoom.png) no-repeat;
	border: 0;
	cursor: pointer;
	text-indent: -9999px;
	vertical-align: middle;
}

/**
|------------------------
| =Images
|------------------------
*/

p img {
	padding: 6px;
	background: #fff;	
	max-width: 100%;
	overflow: hidden;	
	border: 1px solid #eee;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

img.size-auto,
img.size-full,
img.size-large,
img.size-medium,
img.attachment-auto,
img.attachment-full,
img.attachment-large,
img.attachment-medium {
	max-width: 98%;
	height: auto;
}

img.alignleft {
	display: inline;
	float: left;
	margin: 20px 20px 20px 0;
}

img.alignright {
	display: inline;
	float: right;
	margin: 20px 0 20px 20px;
}

img.aligncenter,
img.centered {
	display: block;
	margin: 20px auto 20px auto;
	clear: both;
}

img.alignnone {
	display: inline;
	margin: 20px 0;
}

.wp-caption {
	padding: 10px 5px;
	margin-bottom: 20px;
	background: #fff;
	border: 1px solid #d8d9d6;
	max-width: 98%;
	overflow: hidden;
	border: 1px solid #eee;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

.wp-caption img {
	display: block;
	margin: 0 auto;
	max-width: 98%;
}

.wp-caption .wp-caption-text {
	margin: 12px 12px 0 12px;	
	font-style: italic;
}

.entry-content img.wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/**
|------------------------
| =Gallery
|------------------------
*/

#content .gallery {
	margin: 0 auto 20px auto;
}

#content dl.gallery-item {
	margin: 0;
}

#content .gallery a img {
	border: none;
}

#content dl.gallery-item img {
	padding: 5px;
	margin-bottom: 10px;
	background: #fff;
	max-width: 100%;
	border: 1px solid #eee;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

#content .gallery-caption {
	margin: 0 0 10px 0;	
	font-style: italic;
}

#content .gallery br+br {
	display:none;
}

#content .gallery .gallery-item {
	float:left; 
	text-align:center; 
}

#content .gallery-columns-2 .gallery-item {
	width: 46%;
	padding-right: 3%;
}

#content .gallery-columns-2 .gallery-item img {
	width: 100%;
	height: auto;
}

#content .gallery-columns-3 .gallery-item {
	width: 30%;
	padding-right: 3%;
}

#content .gallery-columns-3 .gallery-item img {
	width: 100%;
	height: auto;
}

#content .gallery-columns-4 .gallery-item {
	width: 21%;
	padding-right: 3%;
}

#content .gallery-columns-4 .gallery-item img {
	width: 100%;
	height: auto;
}

#content .gallery-columns-5 .gallery-item {
	width: 16%;
	padding-right: 3%;
}

#content .gallery-columns-5 .gallery-item img {
	width: 100%;
	height: auto;
}

/**
|------------------------
| =General Classes
|------------------------
*/

.alignleft {
	display: inline;
	float: left;
	margin-right: 20px;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 20px;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.sticky {
}

/**
|------------------------
| =Sidebar
|------------------------
*/

#sidebar ul,
#sidebar ol {
	margin: 0;
	padding: 0;
	list-style: none;
}

#sidebar ul li,
#sidebar ol li {
	margin: -2px 0 8px 0;
	padding: 0 0 6px 0;
	border-bottom: 1px dotted #eee;
	
}

#sidebar ul ul li,
#sidebar ol ol li {
	margin: 5px 0 0 10px;
	padding-bottom: 0;
	border-bottom: none;
}

#sidebar .widget-wrap {
	width: 300px;
	margin: 0 0 30px 0;
	padding: 0;
	word-wrap: break-word;
	overflow: hidden;
}

#sidebar .widget-title {
	font-size: 18px;
	line-height: 24px;
	margin-bottom: 20px;
	color: #900;
}

#sidebar .widget_calendar .widget-title {
	display: none;
}

/**
|------------------------
| =Type Post
|------------------------
*/

.type-post,
.type-page {
	margin: 0 20px 40px 0;
}

.type-attachment {
	margin: 0 20px 0 0;
}

.entry-title  {
	margin: 0 0 15px 0;	
}

.entry-title-single {
	color: #900;
}

.entry-title-page {
	margin: 0 0 14px 0;
}

.entry-title a,
.entry-title a:visited {
	color: #444;
}

.entry-title a:hover {
	color: #900;
}

.entry-content a {
	color: #900;
}

.entry-content a:hover {
	color: #B00;
	text-decoration: underline;
}

/**
|------------------------
| =Entry Meta
|------------------------
*/

.entry-meta {
	font-size: 11px;
	margin: 0 0 14px 0;
	padding: 0 0 6px 0;	
	border-bottom: dotted 1px #eee;
}

.entry-meta-sep {
	color: #707070;
	margin: 0 5px;
}

.entry-meta-bottom {
	font-size: 11px;
}

.entry-meta-featured {
	color: #900;
}

.cat-links a,
.tag-links a {
	color: #900;
}

.cat-links a:hover,
.tag-links a:hover {
	color: #B00;
}

/**
|------------------------
| =Loop Meta
|------------------------
*/

#loop-meta {
	padding: 0;
	margin: 0 0 20px 0;
}

.loop-meta-title {
	font-size: 18px; 
	line-height: 18px; 
	color: #900;
	margin: 0;
	padding: 0;
}

.loop-meta-description {
	color: #444;
	font-size: 11px;
	margin: 5px 0 0 0;
}

/**
|------------------------
| =Entry Featured Image
|------------------------
*/

.entry-featured-image {
	display: inline;
	float: left;
	margin: 0 20px 20px 0;	
	padding: 5px;
	background: #fafafa;
	border: 1px solid #eeeeee;
	border-right: 1px solid #c1c1c1;
	border-bottom: 1px solid #c1c1c1;	
}

.entry-image {
	max-width: 100%;
	overflow: hidden;	
}

/**
|------------------------
| =Entry More Link
|------------------------
*/

span.more-link-wrap {
	display: block;
	margin: 40px 0 0 0;
}

a.more-link:link,
a.more-link:visited {
	display: inline-block;
	float: right;
	font-size: 12px;
	padding: 4px 12px;
	margin-bottom: 20px;
	background: #900;
	color: #fff;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;	
}

a.more-link:hover {
	background: #B00;
	text-decoration: none;
}

/**
|------------------------
| =Author
|------------------------
*/

#author-info {
	font-size: 11px;
	padding: 20px 0;
	margin: 0 20px 40px 0;
	border-bottom: dotted 1px #eee;
}

.container_12 .grid_6.grid_6_author {
	width: 440px;
}

#author-avatar-inside {
	text-align: center;
}

#author-description h3 {
	margin: 0 0 8px 0;
}

#author-description p {
	margin: 0 0 4px 0;
}

/**
|------------------------
| =Paging
|------------------------
*/

/* =Nav Commmon Styles
------------------------ */

#loop-nav-numeric,
#loop-nav-next-prev,
#loop-nav-singlular-post,
#loop-nav-singular,
#loop-nav-singlular-attachment,
#comments-nav-below,
.page-link {
	margin-bottom: 20px;
	clear: both;
}

#loop-nav-numeric a,
#loop-nav-next-prev a,
#loop-nav-singlular-post a,
#loop-nav-singular a,
#loop-nav-singlular-attachment a,
#comments-nav-below a,
.page-link a {
	color: #900;
}

#loop-nav-numeric a:hover,
#loop-nav-next-prev a:hover,
#loop-nav-singlular-post a:hover,
#loop-nav-singular a:hover,
#loop-nav-singlular-attachment a:hover,
#comments-nav-below a:hover,
.page-link a:hover {
	color: #B00;
	text-decoration: underline;
}

#loop-nav-numeric .assistive-text,
#loop-nav-next-prev .assistive-text,
#loop-nav-singlular-post .assistive-text,
#loop-nav-singular .assistive-text,
#loop-nav-singlular-attachment .assistive-text,
#comments-nav-below .assistive-text,
.page-link .assistive-text {
	display: none;
}

#loop-nav-next-prev .loop-nav-next,
#loop-nav-singlular-post .loop-nav-next,
#loop-nav-singlular-attachment .loop-nav-next,
#comments-nav-below .loop-nav-next {
	text-align: right;
}

#loop-nav-singular .loop-nav-standard {
	margin-top: 20px;
	text-align: center;
}

/* =Nav Comments Below
------------------------ */

#comments-nav-below {
	margin: 0 0 40px 0;
}

/* =Nav Numeric
------------------------ */

.nav-numeric a,
.nav-numeric a:visited,
.nav-numeric span {
	border-right: 1px solid #eee;
	padding: 0 6px 0 0;
	margin: 0 4px 0 0;
}

.nav-numeric span.current {
	font-weight: bold;
}

/* =Nav Numeric Page Links
------------------------ */

.page-link span {
	border-right: 1px solid #eee;
	padding: 0 6px 0 0;
	margin: 0 4px 0 0;
	font-weight: bold;
}

.page-link a span {
	font-weight: normal;
}

/**
|------------------------
| =Post Comments
|------------------------
*/

.container_12 .grid_4.grid_4_comments_nav {
	width: 280px;
}

#comments {
	margin: 0 0 40px 0;
}

.page #comments {
	border-bottom: none;
}

.commentlist {
	list-style: none;
	margin: 0 auto;	
}

.commentlist .children {
	list-style: none;
	margin: 15px auto 0 auto;	
}

.commentlist li.comment,
.commentlist li.pingback {
	color: #808080;
    background: #f8f8f8;
    margin: 0 0 20px 0;
	padding: 15px;
	overflow: hidden;	
	
	border: 1px solid #eee;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

.commentlist li.odd {
	background: #fff;
}

.commentlist li.bypostauthor {
	border-bottom: 2px solid #000000;
}

.commentlist li.pingback p {
	margin: 0;
}

.commentlist .comment-author {
	position: relative;
	height: 75px;
	padding: 0 0 0 100px;
}

.commentlist .avatar {
	position: absolute;
	top: 0px;
	left: 0px;
	border: 1px solid #eee;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	padding: 5px;
}

.commentlist .fn {
	display: block;
	margin: 0 0 5px 0;
}

.commentlist .edit-link {
	display: block;
	margin: 5px 0 0 0;
}

.commentlist .comment-awaiting-moderation {
	display: block;
	margin: 5px 0 0 0;
}

.nopassword,
.nocomments {
	color: #aaa;
	text-align: center;
}

/**
|------------------------
| =Footer Radius Project
|------------------------
*/

.radius-project {
	text-align: right;
}

/**
|------------------------
| =Post Comments Form
|------------------------
*/

#respond {
	position: relative;
	color: #808080;
    margin: 0 0 20px 0;
	overflow: hidden;	
}

.commentlist #respond {
	margin: 15px 0;
	padding: 25px 0;
	width: auto;
	border-top: 1px solid #d2d2d2;
	border-bottom: 1px solid #d2d2d2;
}

#respond p {
	margin: 0;
}

#reply-title {
	margin: 0 0 10px 0;
}

#cancel-comment-reply-link {
	color: #900;
	display: block;
	font-size: 10px;
	font-weight: normal;
	line-height: 2.2em;
	letter-spacing: 0.05em;
	position: absolute;
	right: 1.625em;
	text-decoration: none;
	text-transform: uppercase;
	top: 1.1em;
}

#cancel-comment-reply-link:focus,
#cancel-comment-reply-link:active,
#cancel-comment-reply-link:hover {
	color: #b00;
}

#respond .comment-notes,
#respond .logged-in-as {
	margin: 0 0 20px ;
}

#respond .comment-form-author,
#respond .comment-form-email,
#respond .comment-form-url,
#respond .comment-form-comment {
	position: relative;
}

#respond .comment-form-author label,
#respond .comment-form-email label,
#respond .comment-form-url label,
#respond .comment-form-comment label {
	position: absolute;
	left: 79%;
}

#respond .comment-form-comment label {
	text-indent: -9999px;
}

#respond .required {
	color: #bd3500;
}

#respond .comment-form-author .required,
#respond .comment-form-email .required {
	color: #bd3500;
	position: absolute;
	left: 86%;
}

#respond input[type=text] {
	display: block;
	width: 75%;
	height: 24px;	
	margin: 0 0 20px 0;
}

#respond textarea {
	resize: vertical;
	width: 95%;
}

#respond input[type="text"],
#respond textarea {
	background: #fff;
	border: 1px solid #d2d2d2;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;	
	border-radius: 2px;
	padding: 5px;
	text-indent: 5px;
}

#respond input#submit {
	font-size: 14px;
	margin: 20px 0 0 0;
	padding: 6px 12px;	
	color: #dcdcdc;
	text-decoration: none;
	background-color: #900;	
	
	border: 1px solid #900;
	border-radius: 2px;
	moz-border-radius: 2px;
	-webkit-border-radius: 2px;	
	-ms-border-radius: 2px;
	outline: none;
}

#respond input#submit:hover,
#respond input#submit:active {
	cursor: pointer;	
	background-color: #b00;
	border: 1px solid #b00;
}

#respond .logged-in-as a:hover,
#respond #cancel-comment-reply-link:hover {
	text-decoration: underline;
}

.form-allowed-tags {
	display: none;
}

/**
|------------------------
| =Menu Primary
|------------------------
*/

.menu1 {
	position: relative;
	z-index: 9999;
	padding: 0;	
	margin: 15px 0 0 0;
	float: right;
}

.menu1-data {
}

.menu1 ul,
.menu1 ul * {
	margin: 0;
	padding: 0;
	list-style: none;
}

.menu1 ul {
	margin-bottom: 0;
	line-height: 1.0;
}

.menu1 ul ul {
	position: absolute;
	top: -999em;
	width: 10em;
}

.menu1 ul ul li {
	width:100%;
}

.menu1 ul li:hover {
	visibility: inherit;
}

.menu1 ul li {
	float: left; 
	position: relative;
	word-wrap: break-word;
}

.menu1 ul li li {
	background: none;
}

.menu1 ul li:hover ul, 
.menu1 ul li.sfHover ul {
	left: 0px;
	top: 52px;
	z-index: 200;
}

.menu1 ul li:hover li ul,
.menu1 ul li.sfHover li ul {
	top: -999em;
}

.menu1 ul li li:hover ul,
.menu1 ul li li.sfHover ul {
	left: 10em;
	top: 0px;
}

.menu1 ul li li:hover li ul,
.menu1 ul li li.sfHover li ul {
	top: -999em;
}

.menu1 ul li li li:hover ul,
.menu1 ul li li li.sfHover ul {
	left: 10em;
	top: 0px;
}

/** Top Level Anchors */
.menu1 ul a,
.menu1 ul a:visited {
	display: block;
	font-size: 13px;
	position: relative;
	padding: 20px 0 20px 14px;
	text-decoration: none;
	color: #900;
}

/** Nested Anchors */
.menu1 ul ul.sub-menu a,
.menu1 ul ul.sub-menu a:visited,
.menu1 ul ul.children a,
.menu1 ul ul.children a:visited {
	font-size: 13px;
	padding: 12px 12px 12px 16px;
	border-top: solid #eeeeee 1px;
}

.menu1 ul li {
}

.menu1 ul li li {
	background-color: #fff;
}

/** Global Anchors Hover */
.menu1 ul li:hover,
.menu1 ul li.sfHover,
.menu1 ul a:focus,
.menu1 ul a:hover,
.menu1 ul a:active {
	color: #B00;
}

/** Nested Anchors Hover */
.menu1 ul ul.sub-menu li:hover,
.menu1 ul ul.sub-menu li.sfHover,
.menu1 ul ul.sub-menu a:focus,
.menu1 ul ul.sub-menu a:hover,
.menu1 ul ul.sub-menu a:active,
.menu1 ul ul.children li:hover,
.menu1 ul ul.children li.sfHover,
.menu1 ul ul.children a:focus,
.menu1 ul ul.children a:hover,
.menu1 ul ul.children a:active {
	opacity: 1;
}

/** Menu Last Child */

.menu1 ul ul.sub-menu li:last-child,
.menu1 ul ul.children li:last-child {
	border-bottom: solid #eeeeee 1px;
}

/** Menu Indicator */
.menu1 ul .sf-sub-indicator {
	display: inline-block;
	width: 7px;
	height: 12px;
	margin: 0 0 0 8px;
	text-indent: -9999px;
	background: url(images/menu-indicator-down.png) no-repeat;
	/*border: solid 1px red;*/
}

.menu1 ul ul .sf-sub-indicator {
	position: absolute;
	width: 7px;
	height: 15px;
	top: 8px;
	right: 15px;
	text-indent: -9999px;
	background: url(images/menu-indicator-right.png) no-repeat;
	/*border: solid 1px red;*/
}
